/* service.css */
.services-wrapper {
  padding: 4rem 2rem;
  background-color: #f5f5f5;
  text-align: center;
}

.service-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.service-card {
  background-color: #ffffff;
  padding: 2rem;
  margin: 1rem;
  margin-left: 30%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 2rem); /* Adjust width for 3 columns layout */
}

.service-icon {
  margin-bottom: 1rem;
}

.service-name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #003366;
}

.service-description {
  font-size: 1rem;
  color: #666666;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .service-card {
    width: calc(50% - 2rem); /* Adjust for 2 columns layout */
  }
}

@media (max-width: 768px) {
  .service-card {
    width: 100%; /* Full width for single column layout */
  }
}
